.card.product-card {
    background-color: #ffffff;
    /* Fondo oscuro para la parte inferior */
    border: none;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(255, 255, 255, 0.05);
    overflow: hidden;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.card.product-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 8px 20px rgba(255, 255, 255, 0.15);
}

/* Sección de la imagen */
.products-image-wrapper {
    background-color: #c1c1c1;
    /* Fondo blanco solo detrás de la imagen */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 280px;
    /* Altura ajustable según el tamaño de imagen */
}

.product-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

