@import url('https://fonts.googleapis.com/css2?family=Genos&display=swap');
.ConCard{
    padding: 50px;
    background-color: black;
}

.titleText {
    font-family: 'Genos', sans-serif;
    text-align: center;
    color: gold;
    text-shadow:
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
    font-size: 40px;

}

.custom-card {

    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
    border-color: black;
}

.custom-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 18px rgb(255, 238, 0);
}

.custom-card .card-img-top {

    height: 400px;
    object-fit: cover;
    border-bottom: 1px solid #ddd;
}

.custom-card .card-body {
    background-color: #330000;
    padding: 1.2rem;
}


.custom-card .card-text {
    font-size: 0.95rem;
    color: #ffffff;
    text-align: center;
}

.card-group .card {
    margin-top: 20px;
    margin-right: 15px;
    margin-bottom: 20px;
    margin-left: 15px;
}

.card-group {
    background-color: rgb(0, 0, 0);
}